<style>
        body {
            margin: 0;
            padding: 0;
            background-color:white;
        }
        h1 {
            color: rgb(2, 1, 18);
            text-align: center;
            font-size:xx-large;
            border: 0ch;
            font-family: Arial, Helvetica, sans-serif;
        }
        h2 {
            color: rgb(0, 13, 255);
            text-decoration: dotted;
            text-align:center;
            font-size: xx-large;
            border: 100ch;
        }
        p {color: black;
            text-decoration: solid;
            text-align: start;
            font-size: small;
            border: 0ch;
        }
        .search-box{
            position: absolute;
            background: #2f3640;;
            top: 30%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 50px;
            border-radius: 50px;
            }
            .search-box:hover > .search-txt{
                width: 240px;
                padding:5px;
            }
            .search-box:hover > .search-btn{
                background: rgb(250, 10, 10);
            }
            .search-btn{
                color: white;
                float: right;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background: #2f3640;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: cubic-bezier(0.075, 0.82, 0.165, 1);
                
            }
            .search-txt{
                border: none;
                background: none;
                outline: none;
                float: left;
                padding: 0;
                color: white;
                font-size: 16px;
                transition: 0.4s;
                line-height: 40px;
                width: 0px
            }
        
    </style>